@keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}


.header {
    background-color: #222222;

    &__wrapper {
        display: flex;
        height: 75px;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__search-box {
        display: none;
    }

    &__search-text {
        border: none;
        padding: 7px;
        width: 250px;
        outline: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    &__submit {
        border: none;
        width: 90px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #F16D7F;
        outline: 1px solid black;
        transition: background-color 0.3s;

        &:hover {
            color: #FFFFFF;
            background-color: #F16D7F;
        }
    }

    &__form-search {
        display: flex;
        align-items: center;
        height: 75px;

        &:hover .header__search-box {
            display: flex;
        }
    }

    &__button {
        background: transparent;
        border: none;
        outline: none;
        padding: 22px 0px 22px 22px;
        box-sizing: border-box;
    }

    &__logo {
        margin-right: 41px;
    }

    &__menu-list {
        position: relative;

        &:hover .navigation {
            display: block;
            animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }

    }


    &__registration {
        margin: 0 33px 0 33px;
    }
}

.navigation {
    display: none;
    position: absolute;
    width: 232px;
    top: 68px;
    left: 20px;
    background-color: #FFFFFF;
    padding: 37px 0 157px 33px;
    z-index: 20;

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;
        margin: 0 0 24px 0;
    }

    &__subtitle-link {
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #F16D7F;
        margin: 0 0 12px 0;
    }

    &__item-link {
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #6F6E6E;
        margin: 0 0 11px 0;
        padding: 0 0 0 21px;
        width: 100%;

        &:hover {
            color: #F16D7F;
        }
    }
}